.sub-box {
    width: 300px;
    margin: 20px 0px 0px 20px;
    background: #00aabb;
    padding: 20px;
    text-align: center;
    font-weight: 900;
    color: #fff;
    font-family: arial;
    position:relative;
    border-radius: .4em;
}

.sended {
    margin: 20px 0px 0px 20px;
}

.received {
    margin: 20px 0px 0px 56%;
}

.sended:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 10px solid #00aabb;
    border-top: 10px solid #00aabb;
    border-bottom: 10px solid transparent;
    left: -20px;
    top: 6px;
}

.received:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 10px solid #00aabb;
    border-right: 10px solid transparent;
    border-top: 10px solid #00aabb;
    border-bottom: 10px solid transparent;
    right: -20px;
    top: 6px;
}

#message-field {
    margin-top: 40px;
}
