{% extends "base.html" %}


{% block title %}
Right-Chat: {{ room }}
{% endblock %}

<!-- Script for this template -->
{% block style %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/private_chat.css')}}">
{% endblock %}

<!-- No navbar here -->
{% block nav %}
{% endblock %}

{% block content %}
<div class="column is-8 is-offset-3">
    <h1>Flask-SocketIO-Chat: {{ room }}</h1>

    <section id="speech-box">

    </section>

    <!-- <textarea id="chat" rows="20"></textarea><br><br> -->
    <div class="field" id="message-field">
        <p class="control has-icons-left">
            <input class="input is-rounded" id="text" type="text" placeholder="Enter your message here">
            <span class="icon is-left">
              <i class="fas fa-paper-plane"></i>
            </span>
        </p>
    </div>
    <a href="#" class="leave">Leave this room</a>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/chat.js') }}"></script>
{% endblock %}
