<!-- templates/auth/signup.html -->

{% extends "base.html" %}

{% block content %}
<div class="column is-4 is-offset-4">
    <h3 class="title">Create a Channel</h3>
    <div class="box">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="notification is-danger">
                {{ messages[0] }}
            </div>
        {% endif %}
        {% endwith %}
        <form method="POST" action="{{ url_for('.create_channel') }}">
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="name" placeholder="Name" autofocus="">
                </div>
            </div>

            <div class="field">
                <div class="control is-medium">
                    <textarea class="textarea has-fixed-size" name="description" placeholder="Channel description"></textarea>
                </div>
            </div>

            <div class="field is-grouped">
                <div class="control">
                    <button class="button is-info" type="submit">Save</button>
                </div>
                <div class="control">
                    <a href="{{ url_for('.index') }}">
                        <input type="button" class="button is-danger" value="Cancel">
                    </a>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
