<!-- templates/index.html -->

{% extends "base.html" %}

{% block content %}
<!-- List of predefined Channels -->
<div class="columns">
    <div class="column is 5">
        <h2 class="title">Channels </h2>
        {% for room in rooms %}
        <div class="box ">
            <a href="{{ url_for('main.join_room',username=current_user.username, room=room.name) }}">
                <article class="media" id="{{ room.name }}">
                    <div class="media-left">
                      <figure class="image is-64x64">
                        <img src="https://bulma.io/images/placeholders/128x128.png" alt="Image">
                      </figure>
                    </div>
                    <div class="media-content">
                      <div class="content">
                        <p>
                          <strong>{{ room.name }}</strong> <small>@{{ room.name }}</small> <small>31m</small>
                          <br>
                          {{ room.description }}
                        </p>
                      </div>
                    </div>
                </article>
            </a>
        </div>
        {% endfor %}
        <h2 class="title">Customs Channels</h2>
        {% for room in customs_rooms %}
        <div class="box ">
            <a href="{{ url_for('main.join_room',username=current_user.username, room=room.name) }}">
                <article class="media" id="{{ room.name }}">
                    <div class="media-left">
                      <figure class="image is-64x64">
                        <img src="https://bulma.io/images/placeholders/128x128.png" alt="Image">
                      </figure>
                    </div>
                    <div class="media-content">
                      <div class="content">
                        <p>
                          <strong>{{ room.name }}</strong> <small>@{{ room.name }}</small> <small>31m</small>
                          <br>
                          {{ room.description }}
                        </p>
                      </div>
                    </div>
                </article>
            </a>
        </div>
        <br/>
        {% endfor %}
        <a href="{{ url_for('.create_channel') }}">
          <button class="button is-medium is-info is-fullwidth is-rounded" id="new-channel">
              <span class="icon is-medium">
                  <i class="fas fa-plus"></i>
              </span>
              <span>New channel</span>
          </button>
        </a>
    </div>

    <!-- Connected users list -->
    <div class="column is-5 is-offset-2" id="connected_users">
        <h2 class="title">Peoples</h2>

        <div id="users-box">
        </div>

        <button class="button is-medium is-info is-fullwidth" id="update-btn">
            Update list
        </button>
    </div>
</div>

{% endblock %}

<!-- Ajax call for update connected users list -->
{% block scripts %}
<!-- jQuery core -->
<script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js">
</script>

<!-- jQuery ajax call scripts -->
<script type="text/javascript" src="{{ url_for('static', filename='js/index.js') }}"></script>
{% endblock %}
